{% extends 'baseBack.html.twig' %}

{% block title %}Address{% endblock %}

{% block body %}
<div class="container d-flex flex-column align-items-center">
    <h1>Addresses </h1>

    <table class="table" border="" style="align-content: center">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>Campany</th>
                <th>Address</th>
                <th>Complement</th>
                <th>Phone</th>
                <th>City</th>
                <th>CodePostal</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.fullName }}</td>
                <td>{{ address.campany }}</td>
                <td>{{ address.address }}</td>
                <td>{{ address.complement }}</td>
                <td>{{ address.phone }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.codePostal }}</td>
                <td>{{ address.country }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_address_new') }} " class="btn btn-border-fill btn-block mt-2">Create new</a>
</div>
{% endblock %}
